{{ template "header" . }}
<div class="row">
    <div class="col-sm-10">
        <h2>订单补单</h2>
    </div>
</div>
<hr/>
<div class="rows">
    <div class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-2 control-label">订单号</label>
            <div class="col-sm-4 form-control-static">
            {{.Order.DepositId}}
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">guid</label>
            <div class="col-sm-4 form-control-static">
            {{.Order.Guid}}
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">cid</label>
            <div class="col-sm-4 form-control-static">
            {{.Order.User.Cid}}
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">平台</label>
            <div class="col-sm-4 form-control-static">
            {{.Order.Platform}}
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">状态</label>
            <div class="col-sm-4 form-control-static">
            {{.Order.Status}}
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">商品编号</label>
            <div class="col-sm-4 form-control-static">
            {{.Order.ProductId}}
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">商品ID</label>
            <div class="col-sm-4 form-control-static">
            {{.Order.ProductPrimaryId}}
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">商品价格</label>
            <div class="col-sm-4 form-control-static">
            {{.Order.Product.Payment}}
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">商品类型</label>
            <div class="col-sm-4 form-control-static">
            {{.Order.PurchaseType}}
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">付款金额</label>
            <div class="col-sm-4 form-control-static">
            {{.Order.Payment}}
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">付款频道</label>
            <div class="col-sm-4 form-control-static">
            {{.Order.ChannelId}}
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">创建时间</label>
            <div class="col-sm-4 form-control-static">
            {{.Order.InsDate.Format "2006-01-02 15:04:05"}}
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">修改时间</label>
            <div class="col-sm-4 form-control-static">
            {{.Order.LastModDate.Format "2006-01-02 15:04:05"}}
            </div>
        </div>
    </div>
    <form class="form-horizontal" method="post" action="/order/replacementProcess" onsubmit="return checkForm()">
        <div class="form-group">
            <label class="col-sm-2 control-label">选择频道ID</label>
            <div class="col-sm-3">
                <select class="form-control" name="channel_id">
                    <option>--请选择--</option>
                {{range .Channels}}
                    <option value="{{.}}">{{.}}</option>
                {{end}}
                </select>
            </div>
        </div>
        <br/>
        <input hidden name="deposit_id" value="{{.Order.DepositId}}"/>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-2">
                <button type="submit" class="btn btn-danger">进行补单</button>
            </div>
            <div class="col-sm-2">
                <button type="button" class="btn btn-default" onClick="javascript:history.back(-1);">返回</button>
            </div>
        </div>
    </form>

</div>

<script>
    function checkForm() {
        if (window.confirm("确认进行补单?")) {
            return true;
        }
        return false;
    }
</script>
{{ template "footer" . }}
